* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.main-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: black;
    color: #fff;
}

.left-wrapper{
    /* border: 1px solid red; */
    padding: 6vw 0 0 6vw;
    font-weight: 300;
}

.time-wrapper{
    display: flex;
    font-size: 3.5rem;
    align-items: flex-start;
    margin: 10px 0 50px;
}

.seconds{
    font-size: 1rem;
    position: relative;
    bottom: -8px;
}

.news-container{
    position: absolute;
    /* right: 160px; */
    left: 6vw;
    top: 420px;
}

.news-picker{
    margin: 200px 0 20px;
    font-size: 16px;
    display: flex;
}

.news-picker li{
    padding-right: 10px;
}

.news-picker li a{
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.news-list{
    list-style-type: none;
    max-width: 400px;
}

.news-item{
    margin: 20px 0;
}

.news-item h2{
    font-size: 16px;
    font-weight: 300;
}

.news-item .item-desc-hidden{
    display: none;
}

.calendar{
    width: 260px;
}

#content{
    font-family: 'Roboto', sans-serif;
}

.event-container{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar__title{
    border-bottom: 1px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
    font-weight: 300;
    font-size: 16px;
}

#content .calendar__event {
    font-size: 16px;
    font-weight: 400;
}

.calendar__date{
    color: rgb(190, 190, 190);
    font-weight: 300;
}

.right-wrapper{
    /* border: 1px solid red; */
    padding: 6vw 6vw 0vw 0;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-down{
    opacity: 0;
    transition: 0.3s ease;
}

.city-name{
    text-align: right;
    padding-right: 24px;
}

.box-weather{
    display: flex;
    align-items: center;  
    justify-content: space-between;
    margin-left: auto;  
    width: 240px;
}


.weather-wrapper img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.degree{
    font-size: 3.5rem;

}

.pressure{
    text-align: right;
    padding-right: 24px;
}

.home-img{
    padding: 14px;
}

.voice__container{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #fff; */
    /* color: black; */
    text-align: center;
    width: 400px;
    /* height: 120px; */
}

.voice__container--texts p{
    color: rgb(190, 190, 190);
}

.opacity-on{
    opacity: 1 !important;
    transition: 0.3s ease;
}