* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.main-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: black;
    color: #fff;
}

.left-wrapper{
    /* border: 1px solid red; */
    padding: 6vw;
    font-weight: 300;
}

.time-wrapper{
    display: flex;
    font-size: 3.5rem;
    align-items: flex-start;
    margin-top: 10px;
}

.seconds{
    font-size: 1rem;
    position: relative;
    bottom: -8px;
}

.news-picker{
    margin: 200px 0 20px;
    list-style-type: none;
    display: flex;
}

.news-picker li{
    padding-right: 10px;
}

.news-picker li a{
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.news-list{
    list-style-type: none;
}

.news-item{
    margin: 20px 0;
}

.news-item h2{
    font-size: 16px;
    font-weight: 300;
}

.news-item .item-desc-hidden{
    display: none;
}

.right-wrapper{
    /* border: 1px solid red; */
    padding: 6vw;
    font-weight: 300;
}

.city-name{
    text-align: right;
    padding-right: 24px;
}

.box-weather{
    display: flex;
    align-items: center;  
    justify-content: space-between;  
}


.weather-wrapper img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.degree{
    font-size: 3.5rem;

}

.pressure{
    text-align: right;
    padding-right: 24px;
}

.home-img{
    padding: 14px;
}

.calendar{
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 260px;
}

#content{
    font-family: 'Roboto', sans-serif;
}

.event-container{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar__title{
    border-bottom: 1px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
    font-weight: 300;
    font-size: 16px;
}

#content .calendar__event {
    font-size: 16px;
    font-weight: 400;
}

.calendar__date{
    color: rgb(190, 190, 190);
    font-weight: 300;
}